:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

app-header-bar {
    flex: 0 0 auto;
}

app-editor {
    flex: 0 0 33vh;
}

app-data-panel {
    // TODO: Yuck. Possible to fix? Can't figure out right voodoo to make it
    // not overflow when this element is scollable container
    height: calc(100% - 40px - 33vh);
}
