:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    background: #f86d09;
    color: black;
    border-bottom: 0.5rem solid #202020;
    box-sizing: border-box;
}

.app-logo {
    position: relative;
    user-select: none;
    width: 7rem;

    .app-logo-icon {
        position: absolute;
        height: 100%;
    }

    .app-logo-wordmark-outline {
        color: #f86d09;
        -webkit-text-stroke: 5px #f86d09;
    }
    .app-logo-wordmark {
        position: absolute;
        top: 3.75px;
        left: 15px;
        font-size: 1.5rem;
        font-weight: 999;
        font-family: Source Code Pro;
    }
}

.app-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.125rem;
    padding-right: 0.25rem;
    gap: 0.25rem;

    .app-run-button {
        border: 1px solid black;
        border-radius: 4px;
        background: #f86d09;
        color: black;

        &:hover {
            background: #f4802d;
            cursor: pointer;
        }
    }

    .app-custom-select {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .app-custom-select select {
        font-family: "Arial";
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 3px 3px;
        padding-right: 28px;
        outline: 0;
        border: 1px solid black;
        border-radius: 4px;
        background: #f86d09;
        color: black;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .app-custom-select select::-ms-expand {
        display: none;
    }
    .app-custom-select select:hover,
    .app-custom-select select:focus {
        color: black;
        background: #f4802d;
    }
    .app-custom-select select:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    .app-custom-select-arrow {
        position: absolute;
        top: 6px;
        right: 12px;
        width: 1px;
        height: 1px;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        pointer-events: none;
    }
    .app-custom-select select:hover ~ .app-custom-select-arrow,
    .app-custom-select select:focus ~ .app-custom-select-arrow {
        border-color: black;
    }
    .app-custom-select select:disabled ~ .app-custom-select-arrow {
        border-top-color: #cccccc;
    }
}
