<div class="app-logo">
    <svg class="app-logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
        <path
            d="M 6 4 C 4.895 4 4 4.895 4 6 L 4 9 C 4 9.552 4.448 10 5 10 L 25 10 C 25.552 10 26 9.552 26 9 L 26 6 C 26 4.895 25.105 4 24 4 L 6 4 z M 5 12 C 4.448 12 4 12.448 4 13 L 4 17 C 4 17.552 4.448 18 5 18 L 25 18 C 25.552 18 26 17.552 26 17 L 26 13 C 26 12.448 25.552 12 25 12 L 5 12 z M 5 20 C 4.448 20 4 20.448 4 21 L 4 24 C 4 25.105 4.895 26 6 26 L 24 26 C 25.105 26 26 25.105 26 24 L 26 21 C 26 20.448 25.552 20 25 20 L 5 20 z"
        ></path>
    </svg>
    <span class="app-logo-wordmark app-logo-wordmark-outline">dbass</span>
    <span class="app-logo-wordmark">dbass</span>
</div>
<div class="app-toolbar">
    <div class="app-custom-select">
        <select>
            <option>countries.db</option>
            <option>pragha.db</option>
            <option>database.db</option>
        </select>
        <div class="app-custom-select-arrow"></div>
    </div>
    <button class="app-run-button" (click)="onRunClick()">Run</button>
</div>
